<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar 
  (ionInput)="onSearchInput($event)"
  [showCancelButton]="showCancel"
  [(ngModel)]="searchText"
  debounce="500"
  ></ion-searchbar>
<ion-list>
  <ion-item-sliding *ngFor="let movie of movies"> 
    <button ion-item (click)="showDetails(movie.imdbID)">
    <ion-thumbnail item-left >
      <img *ngIf="movie.Poster !== 'N/A'" src="{{movie.Poster}}" >
    </ion-thumbnail>
    <h2>{{movie.Title}}</h2>
    <p>{{movie.Year}}</p>  
  </button>
  <ion-item-options>
    <button ion-button (click)="addFavorite(movie)">
      <ion-icon name="star"></ion-icon>
      star
    </button>
  </ion-item-options>
 
  </ion-item-sliding>
</ion-list>
</ion-content>
